<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scd.erp.mapper.DocementMapper">
    <resultMap id="BaseResultMap" type="com.scd.erp.Vo.Doc.Docement">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="FileID" jdbcType="INTEGER" property="fileid"/>
        <result column="FileName" jdbcType="VARCHAR" property="filename"/>
        <result column="FlieUrl" jdbcType="VARCHAR" property="flieurl"/>
        <result column="FlieType" jdbcType="CHAR" property="flietype"/>
        <result column="FileRemark" jdbcType="VARCHAR" property="fileremark"/>
        <result column="FileCreatTime" jdbcType="TIMESTAMP" property="filecreattime"/>
        <result column="FileDelTime" jdbcType="TIMESTAMP" property="filedeltime"/>
        <result column="packageID" jdbcType="INTEGER" property="packageid"/>
        <result column="DataSize" jdbcType="INTEGER" property="size"/>
        <result column="DataSuffix" jdbcType="VARCHAR" property="suffix"/>
    </resultMap>

</mapper>